/* General Styles */


* {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.1rem;
    word-spacing: 0.1rem;
}

h1 {
    background-color: #af54d9;
    color: #fff;
    height: 4rem;
    line-height: 4rem;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.8rem;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}


/* Image Specific Styles */


img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}


/* Choice div Specific Styles */


.choice {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: #af54d9;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 0.2rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 1.3rem;
    gap: 5rem;
}

#human-score,
#comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 3rem;
    margin-bottom: 3rem;
}